[submodule "Tweaks/YTUHD"]
	path = Tweaks/YTUHD
	url = https://github.com/PoomSmart/YTUHD.git
[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP.git
[submodule "Tweaks/Return-YouTube-Dislikes"]
	path = Tweaks/Return-YouTube-Dislikes
	url = https://github.com/PoomSmart/Return-YouTube-Dislikes.git
[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/qnblackcat/Alderis.git
[submodule "Tweaks/PSHeader"]
	path = Tweaks/PSHeader
	url = https://github.com/PoomSmart/PSHeader.git
[submodule "Tweaks/YTABConfig"]
	path = Tweaks/YTABConfig
	url = https://github.com/PoomSmart/YTABConfig.git
[submodule "Tweaks/YouMute"]
	path = Tweaks/YouMute
	url = https://github.com/PoomSmart/YouMute.git
[submodule "Tweaks/RemoteLog"]
	path = Tweaks/RemoteLog
	url = https://github.com/Muirey03/RemoteLog.git
[submodule "Tweaks/FLEX"]
	path = Tweaks/FLEX
	url = https://github.com/qnblackcat/FLEX-Classes.git
[submodule "Tweaks/iSponsorBlock"]
	path = Tweaks/iSponsorBlock
	url = https://github.com/Galactic-Dev/iSponsorBlock.git
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
[submodule "Tweaks/YTHoldForSpeed"]
	path = Tweaks/YTHoldForSpeed
	url = https://github.com/arichorn/YTHoldForSpeed.git
[submodule "Tweaks/DontEatMyContent"]
	path = Tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent.git
