[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis.git
[submodule "Tweaks/PSHeader"]
	path = Tweaks/PSHeader
	url = https://github.com/PoomSmart/PSHeader.git
[submodule "Tweaks/FLEX"]
	path = Tweaks/FLEX
	url = https://github.com/PoomSmart/FLEXing.git
[submodule "Tweaks/iSponsorBlock"]
	path = Tweaks/iSponsorBlock
	url = https://github.com/Galactic-Dev/iSponsorBlock.git
[submodule "Tweaks/YTHoldForSpeed"]
	path = Tweaks/YTHoldForSpeed
	url = https://github.com/arichornloverALT/YTHoldForSpeed.git
[submodule "Tweaks/DontEatMyContent"]
	path = Tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent.git
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
[submodule "Tweaks/YTVideoOverlay"]
	path = Tweaks/YTVideoOverlay
	url = https://github.com/arichornloverALT/YTVideoOverlay.git
[submodule "Tweaks/protobuf"]
	path = Tweaks/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP
[submodule "Tweaks/YTABConfig"]
	path = Tweaks/YTABConfig
	url = https://github.com/PoomSmart/YTABConfig
[submodule "Tweaks/YTUHD"]
	path = Tweaks/YTUHD
	url = https://github.com/PoomSmart/YTUHD
[submodule "Tweaks/YouGroupSettings"]
	path = Tweaks/YouGroupSettings
	url = https://github.com/PoomSmart/YouGroupSettings
[submodule "Tweaks/YouMute"]
	path = Tweaks/YouMute
	url = https://github.com/PoomSmart/YouMute
[submodule "Tweaks/YouQuality"]
	path = Tweaks/YouQuality
	url = https://github.com/PoomSmart/YouQuality
[submodule "Tweaks/Return-YouTube-Dislikes"]
	path = Tweaks/Return-YouTube-Dislikes
	url = https://github.com/arichornloverALT/Return-YouTube-Dislikes.git
[submodule "Tweaks/YTHeaders"]
	path = Tweaks/YTHeaders
	url = https://github.com/therealFoxster/YTHeaders
[submodule "Tweaks/YouTimeStamp"]
	path = Tweaks/YouTimeStamp
	url = https://github.com/arichornloverALT/YouTimeStamp.git
[submodule "Tweaks/YouLoop"]
	path = Tweaks/YouLoop
	url = https://github.com/bhackel/YouLoop
[submodule "Tweaks/FLEXing"]
	path = Tweaks/FLEXing
	url = https://github.com/PoomSmart/FLEXing.git
	branch = rootless
