Package: com.dvntm.ytlite
Name: YTLite
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lightweight YouTube Enhancer
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Icon: https://raw.githubusercontent.com/dayanch96/icons/main/ytlite.png
SileoDepiction: https://raw.githubusercontent.com/dayanch96/icons/main/ytlite.json
