Package: com.ps.youpip
Name: YouPiP
Depends: mobilesubstrate, firmware (>= 11.0), firmware (>= 14.0) | gsc.ipad | com.ps.forceinpicture | com.cabralcole.forceinpicture
Version: 1.0.0
Architecture: iphoneos-arm
Description: Enable native PiP in YouTube app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Replaces: com.spicat.youpip
Provides: com.spicat.youpip
Conflicts: com.spicat.youpip
Depiction: https://poomsmart.github.io/repo/depictions/youpip.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/youpip.json
