Package: com.ps.youmute
Name: YouMute
Version: 1.0.0
Architecture: iphoneos-arm
Description: Mute/unmute videos in YouTube directly.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
Depiction: https://poomsmart.github.io/repo/depictions/youmute.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/youmute.json
